{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <div>
        <h1>About</h1>
        <p> 
        Welcome to Snippetbox  project as part of Let's Go! book by Alex Edwards, your go-to platform for saving, organizing, and sharing snippets of codes or quotes! Whether you're a developer, student, or hobbyist, Snippetbox is designed to make your life easier by providing a simple and intuitive way to store and manage your code or quotes.
        </p>
        <p>I highly encourage new gophers to read this book since it encompasses most of the Go fundamentals, in addition to Go web application development techniques.</p>
    </div>
{{end}}