{{template "base" .}}

{{define "title"}}Change Password{{end}}

{{define "main"}}

<form action='/user/change-password' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}} 
    <div>
        <label>Current Password:</label>
        {{with .Errors.Get "currentPassword"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type= 'password' name='currentPassword'>
    </div>
    <div>
        <label>New Password:</label>
        {{with .Errors.Get "newPassword"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='newPassword'>
    </div>
    <div>
        <label>Confirm New Password:</label>
        {{with .Errors.Get "newPasswordConfirm"}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='newPasswordConfirm'>
    </div>
    <div>          
        <input type='submit' value='Change Password'>
    </div>
        {{end}}
</form>
{{end}}